{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src="{% static 'image/book_readin_list_screenshot.png' %}" class="card-img-top" alt="book_readin_list_screenshot">
<h3 class="card-title pt-2">Book Reading List Issue Tracking App</h3>
    <p class="card-text">The app that allows users to report bugs that they encounter in <a href="https://book-reading-lists.herokuapp.com/index" target="_blank" class="text-decoration-none"><strong>Book Reading List</strong></a> website, </p>
    <p>Or create requests for new Features to be implemented.</p>
{% endblock %}