astroid==2.2.5
autopep8==1.4.4
certifi==2019.3.9
chardet==3.0.4
dj-database-url==0.5.0
Django==1.11.20
django-appconf==1.0.3
django-avatar==4.1.0
django-crispy-forms==1.7.2
django-forms-bootstrap==3.1.0
gunicorn==19.9.0
idna==2.8
isort==4.3.20
lazy-object-proxy==1.4.1
mccabe==0.6.1
Pillow==5.4.1
psycopg2==2.7.3.2
pycodestyle==2.5.0
pylint==2.3.1
pylint-django==2.0.9
pylint-plugin-utils==0.5
pytz==2019.1
requests==2.21.0
six==1.12.0
stripe==2.29.4
typed-ast==1.4.0
urllib3==1.24.3
wrapt==1.11.1
