{% extends "base.html" %} {% load bootstrap_tags %} {% load avatar_tags %} {% block content %}
<div class="container ">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body bg-light">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="image-container">
                {% avatar user 150 class="img-thumbnail img-fluid" %}
              </div>
              <div class="userData ml-3">
                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">
                  {{ user.first_name }}
                </h2>
                <h6 class="d-block">{{ bug_count }} - Bugs</h6>
                <h6 class="d-block">{{ feature_count }} - Features</h6>
                <a href="{% url 'avatar_change' %}">Change your avatar</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label style="font-weight:bold;">Profile Info</label>
              <hr>
              <form method="post" action="{% url 'profile' %}" class="accountform">
                <fieldset class="form-group">
                  {% csrf_token %} {{ form | as_bootstrap }}
                  <button type="submit" class="btn btn-primary">Update account</button>
                </fieldset>
              </form>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
              <label style="font-weight:bold;">Full Name</label>
            </div>
            <div class="col-md-8 col-6">
              {{ user.first_name }} {{ user.last_name }}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
              <label style="font-weight:bold;">Email Address</label>
            </div>
            <div class="col-md-8 col-6">
              {{ user.email }}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
              <label style="font-weight:bold;">Is Staff</label>
            </div>
            <div class="col-md-8 col-6">
              {{ user.is_staff }}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
              <label style="font-weight:bold;">Date Joined</label>
            </div>
            <div class="col-md-8 col-6">
              {{ user.date_joined }}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
              <label style="font-weight:bold;">Last Login</label>
            </div>
            <div class="col-md-8 col-6">
              {{ user.last_login }}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
              <label style="font-weight:bold;">All Bugs</label>
            </div>
            <div class="col-md-8 col-6">
              {% for bug in all_user_bugs %}
              <p>
                <a href="{% url 'bug_detail' bug.id %}">{{ bug.title }}</a>
              </p>
              <hr />
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
              <label style="font-weight:bold;">All Features</label>
            </div>
            <div class="col-md-8 col-6">
              {% for feature in all_user_features %}
              <p>
                <a href="{% url 'feature_detail' feature.id %}">{{ feature.title }}</a>
              </p>
              <hr />
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}