{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" action="{% url 'register' %}" class="accountform" novalidate>
    <fieldset class="form-group">
        <legend class="font-weight-bold">Create a new account</legend>
        <p class="blockquote-footer">Already got an account? <a href="{% url 'login' %}"
                class="text-decoration-none">Sign In</a></p>
        {% csrf_token %} {{ user_form | crispy }}
        <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Create account</button>
    </fieldset>
</form>
{% endblock %}