{% extends 'base.html'%} {% block content %} {% if bug.author == request.user %}
<a class="btn btn-primary" href="{% url 'edit_bug' bug.id %}" role="button"
  >Edit Bug</a
>
{% else %}
<p class="text-danger">This is not your bug</p>
{% endif %}
<p>Title:{{ bug.title }}</p>
<p>Description:{{ bug.description }}</p>
<p>Date Created:{{ bug.created_date }}</p>
<p>Date Updated:{{ bug.updated_date }}</p>
<p>Is Resolved:{{ bug.is_resolved }}</p>
<p>Resolved Date:{{ bug.resolved_dated }}</p>
<p>Upvotes:{{ bug.upvotes }}</p>
<p>Tag:{{ bug.tag }}</p>
<p>Author:{{ bug.author }}</p>
<p>Status:{{ bug.status }}</p>
<hr />
{% endblock %}
