{% extends 'base.html'%} {% block content %}
<!-- Bug Detailes -->
<div class="row">
  <div class="col-sm-12">
    {% if bug.status == 'TODO'%}
    <h3 class="font-weight-bold text-center mb-2 bg-danger"> {{ bug.title }}</h3>
    {% elif bug.status == 'DOING' %}
    <h3 class="font-weight-bold text-center mb-2 bg-warning"> {{ bug.title }}</h3>
    {% else %}
    <h3 class="font-weight-bold text-center mb-2 bg-success"> {{ bug.title }}</h3>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Description</label>
  </div>
  <div class="col-md-8 col-6">
    {{ bug.description }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Date Created</label>
  </div>
  <div class="col-md-8 col-6">
    {{ bug.created_date }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Date Updated</label>
  </div>
  <div class="col-md-8 col-6">
    {{ bug.updated_date }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Is Resolved</label>
  </div>
  <div class="col-md-8 col-6">
    {%if bug.is_resolved == False %}
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Tag</label>
  </div>
  <div class="col-md-8 col-6">
    <i class="fa fa-hashtag" aria-hidden="true"></i> {{ bug.tag }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Author</label>
  </div>
  <div class="col-md-8 col-6">
    <i class="fa fa-user" aria-hidden="true"></i> {{ bug.author }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Status</label>
  </div>
  <div class="col-md-8 col-6">
    {% if bug.status == 'TODO'%}
    <p class="text-danger"><strong>{{ bug.status }}</strong></p>
    {% elif bug.status == 'DOING' %}
    <p class="text-warning"><strong>{{ bug.status }}</strong></p>
    {% else %}
    <p class="text-success"><strong>{{ bug.status }}</strong></p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Upvotes</label>
  </div>
  <div class="col-md-8 col-6">
    <a class="btn-floating btn-small" href="{% url 'upvote_bug' bug.id %}"><i class="fa fa-thumbs-up"
        aria-hidden="true"></i></a> {{ bug.upvotes }}
  </div>
</div>
{% if bug.author == request.user or user.is_staff%}
<div class="row">
  <div class="col-md-6">
    <a class="btn btn-secondary float-left" href="{% url 'edit_bug' bug.id %}" role="button"><i class="fa fa-pencil"
        aria-hidden="true"></i>
      Edit</a>
  </div>
  <div class="col-md-6">
    <form method="post" action="{% url 'delete_bug' bug.id %}" class="accountform">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger float-right"><i class="fa fa-trash" aria-hidden="true"></i>
        Delete</button>
      </fieldset>
    </form>
  </div>
</div>
{% endif %}
<hr />

<!-- Comments -->
<div class="row bg-light">
  <div class="col-sm-12">
    <div class="comment-wrapper">
      <div class="card ">
        <div class="card-header">
          <h3>Recent Comment</h3>
          <a class="btn btn-info" href="{% url 'new_bug_comment' bug.id %}" role="button"><i class="fa fa-plus"
              aria-hidden="true"></i>
            New Comment</a>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush p-2 bg-white">
            {% for comment in comments %}
            <li class="list-group-item">
              <div class="row no-gutters">
                <div class="col-md-2 media">
                  <img src="{{ comment.author.profile.image.url }}" alt="profile image" class="rounded-circle">
                </div>
                <div class="col-md-10">
                  <span class="text-muted pull-right">
                    <small class="text-muted">Updated: {{ comment.updated_date }}</small>
                  </span>
                  <strong class="text-success">@{{ comment.author }}</strong>
                  <p>
                    {{ comment.comment }}

                  </p>
                </div>
              </div>
              {% if user == comment.author or user.is_staff %}
              <div class="row">
                <div class="col-md-6 pt-2">
                  <a role="button" class="btn btn-secondary float-left"
                    href="{% url 'edit_bug_comment' bug.id comment.id %}"><i class="fa fa-pencil"
                      aria-hidden="true"></i> Edit</a>
                </div>
                <div class="col-md-6">
                  <form method="post" action="{% url 'delete_bug_comment' bug.id comment.id %}" class="accountform">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger float-right"><i class="fa fa-trash"
                        aria-hidden="true"></i> Delete</button>
                    </fieldset>
                  </form>
                </div>
              </div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}