{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-group"></div>
<form method="post" enctype="multipart/form-data">
  <fieldset class="form-group">
    <legend>Create a new bug</legend>
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    {{ form.description|as_crispy_field  }}
    {{ form.tag|as_crispy_field  }}
    {% if bug.author == request.user or user.is_staff%}
    <h3>For staff use</h3>
    <label for="status">Is bug fixed? </label>
    {{ form.is_resolved|as_crispy_field  }}
    {{ form.status|as_crispy_field }}
    <hr>
    {% endif %}
    <button type="submit" class="btn btn-primary">Create Bug</button>
  </fieldset>
</form>
</div>
{% endblock %}