{% extends 'base.html'%} {% block content %}
<!-- Feature Detailes -->
<div class="row">
  <div class="col-sm-12">
    {% if feature.status == 'TODO'%}
    <h3 class="font-weight-bold text-center mb-2 bg-danger"> {{ feature.title }}</h3>
    {% elif feature.status == 'DOING' %}
    <h3 class="font-weight-bold text-center mb-2 bg-warning"> {{ feature.title }}</h3>
    {% else %}
    <h3 class="font-weight-bold text-center mb-2 bg-success"> {{ feature.title }}</h3>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Description</label>
  </div>
  <div class="col-md-8 col-6">
    {{ feature.description }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Date Created</label>
  </div>
  <div class="col-md-8 col-6">
    {{ feature.created_date }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Date Updated</label>
  </div>
  <div class="col-md-8 col-6">
    {{ feature.updated_date }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Is Implemented</label>
  </div>
  <div class="col-md-8 col-6">
    {%if feature.is_implemented == False %}
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Tag</label>
  </div>
  <div class="col-md-8 col-6">
    <i class="fa fa-hashtag" aria-hidden="true"></i> {{ feature.tag }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Author</label>
  </div>
  <div class="col-md-8 col-6">
    <i class="fa fa-user" aria-hidden="true"></i> {{ feature.author }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Status</label>
  </div>
  <div class="col-md-8 col-6">
    {% if feature.status == 'TODO'%}
    <p class="text-danger"><strong>{{ feature.status }}</strong></p>
    {% elif feature.status == 'DOING' %}
    <p class="text-warning"><strong>{{ feature.status }}</strong></p>
    {% else %}
    <p class="text-success"><strong>{{ feature.status }}</strong></p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Upvotes</label>
  </div>
  <div class="col-md-8 col-6">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ feature.upvotes }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Price</label>
  </div>
  <div class="col-md-8 col-6">
    <i class="fa fa-eur" aria-hidden="true"></i> {{ feature.price }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Buy</label>
  </div>
  <div class="col-md-8 col-6">
    <form method="post" action="{% url 'add_to_cart' feature.id %}">
      {% csrf_token %}
      <div class="input-group">
        <input name="quantity" type="number" min="1" max="999" class="form-control mb-2" placeholder="Quantity">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to
            Cart</button>
        </span>
      </div>
    </form>
  </div>
</div>
{% if feature.author == request.user or user.is_staff%}
<div class="row">
  <div class="col-md-6">
    <a class="btn btn-secondary" href="{% url 'edit_feature' feature.id %}" role="button"><i class="fa fa-pencil"
        aria-hidden="true"></i>
      Edit feature</a>
  </div>
  <div class="col-md-6">
    <form method="post" action="{% url 'delete_feature' feature.id %}" class="accountform">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
        Delete</button>
      </fieldset>
    </form>
  </div>
</div>
{% endif %}
<hr />
<!-- Comments -->
<div class="row bg-light">
  <div class="col-sm-12">
    <div class="comment-wrapper">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3>Recent Comment</h3>
          <a class="" href="{% url 'new_feature_comment' feature.id %}">Add New Comment</a>
        </div>
        <div class="panel-body">
          <ul class="media-list p-2 bg-white">
            {% for comment in comments %}
            <li class="media">
              <img src="{{ user.profile.image.url }}" alt="profile image" class="rounded-circle">
              </a>
              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">Updated: {{ comment.updated_date }}</small>
                </span>
                <strong class="text-success">@{{ comment.author }}</strong>
                <p>
                  {{ comment.comment }}

                </p>
              </div>
              {% if user == comment.author or user.is_staff %}
              <a type="button" class="btn-floating btn waves-effect waves-light blue"
                href="{% url 'edit_feature_comment' feature.id comment.id %}">Edit Comment</a>
              <form method="post" action="{% url 'delete_feature_comment' feature.id comment.id %}" class="accountform">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                </fieldset>
              </form>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}