{% extends 'base.html'%} {% block content %}
{% if feature.author == request.user or user.is_staff%}
<a class="btn btn-primary" href="{% url 'edit_feature' feature.id %}" role="button">Edit Feature</a>
<form method="post" action="{% url 'delete_feature' feature.id %}" class="accountform">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
  </fieldset>
</form>
{% else %}
<p class="text-danger">This is not your feature</p>
{% endif %}
<p>Title:{{ feature.title }}</p>
<p>Description:{{ feature.description }}</p>
<p>Date Created:{{ feature.created_date }}</p>
<p>Date Updated:{{ feature.updated_date }}</p>
<p>Is Implemented:{{ feature.is_implemented }}</p>
<p>Upvotes:{{ feature.upvotes }}
  <a class="btn-floating btn-small waves-effect waves-light teal" href="{% url 'upvote_feature' feature.id %}">Up vote</a>
</p>
<p>Tag:{{ feature.tag }}</p>
<p>Author:{{ feature.author }}</p>
<p>Price:{{ feature.price }}</p>
<hr />
<form method="post" action="{% url 'add_to_cart' feature.id %}">
  {% csrf_token %}
  <div class="input-group">
      <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
      <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Add to Cart</button>
      </span>
  </div>
</form>
<!-- Comments -->
<h3>Comments </h3>
<a class="btn-floating btn waves-effect waves-light green" href="{% url 'new_feature_comment' feature.id %}">Add New Comment</a>
{% for comment in comments %}
<div class="card-panel blue-grey lighten-4">
  <div class="row">
    <div class="col s12 m8">
      <p>{{ comment.id }}<b>User: </b>{{ comment.author }} <b>Created: </b>{{ comment.created_date }} <b>Updated:
        </b>{{ comment.updated_date }}</p>
      <p>
        <h6><b>Comment: </b>{{ comment.comment }}
      </p>
      </h6>
      <div class="col s12 m4">
        {% if user == comment.author %}
        <a class="btn-floating btn waves-effect waves-light blue" href="{% url 'edit_feature_comment' feature.id comment.id %}">Edit Comment</a>
        {% endif %}
        {% endfor %}
      </div>
{% endblock %}