{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-group">
  <form method="post" novalidate>
    <fieldset class="form-group">
      <legend class="font-weight-bold">Create a new Feature</legend>
      {% csrf_token %}
      {{ form.title |as_crispy_field }}
      {{ form.description |as_crispy_field  }}
      {{ form.tag |as_crispy_field  }}
      {% if feature.author == request.user or user.is_staff%}
      <h3>For staff use</h3>
      <label for="status">Is feature implamented? </label>
      {{ form.is_implemented |as_crispy_field  }}
      {{ form.status |as_crispy_field }}
      <hr>
      {% endif %}
      <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Create Feature</button>
    </fieldset>
  </form>
</div>
{% endblock %}