{% extends 'base.html'%} {% block content %} 
<div class="container">
  <div class="row">
    {% for feature in features %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
      <div class="card bg-c-card order-card">
        <div class="card-body">
          {% if feature.status == 'TODO' %}
          <h3 class="card-title text-center bg-danger">{{ feature.title }}</h3>
          <p class="text-sm-right"><small>{{ feature.status }}</small></p>
          {% elif feature.status == 'DOING' %}
          <h3 class="card-title text-center bg-warning">{{ feature.title }}</h3>
          <p class="text-sm-right"><small>{{ feature.status }}</small></p>
          {% else %}
          <h3 class="card-title text-center bg-success">{{ feature.title }}</h3>
          <p class="text-sm-right"><small>{{ feature.status }}</small></p>
          {% endif %}
          <h6 class="card-text text-left ml-1"><span>{{ feature.description }}</span></h6>
          <a href="{% url 'feature_detail' feature.id %}" role="button" class="btn btn-dark btn-circle float-right mt-2"><i
              class="fa fa-arrow-down " aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Pagination -->
{% if features.has_other_pages %}
<ul class="pagination">
  {% if features.has_previous %}
  <li class="page-item">
    <a
      href="?page={{ features.previous_page_number }}"
      class="page-link"
      aria-label="Previous"
      ><span aria-hidden="true">&laquo;</span></a
    >
  </li>
  {% else %}
  <li class="disabled page-link" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
  </li>
  {% endif %}
  {% for i in features.paginator.page_range %} 
  {% if features.number == i %}
  <li class="active page-item">
    <a class="page-link">{{ i }}</a>
  </li>
  {% else %}
  <li class="page-item">
    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
  </li>
  {% endif %} {% endfor %} {% if features.has_next %}
  <li class="page-item">
    <a
      href="?page={{ features.next_page_number }}"
      class="page-link"
      aria-label="Next"
      ><span aria-hidden="true">&raquo;</span></a
    >
  </li>
  {% else %}
  <li class="disabled page-item page-link" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
  </li>
  {% endif %}
</ul>
{% endif %} {% endblock %}
