{% extends 'base.html'%} {% block content %}
 <!-- Dashboard -->
<div class="row pl-4">
  <h1>Issues Report</h1>
</div>

<div class="row">
  <div id="completed_daily_container" class="col s12 m4"></div>
  <div id="completed_weekly_container" class="col s12 m4"></div>
  <div id="completed_monthly_container" class="col s12 m4"></div>
</div>
<div class="row">
  <div id="bug_upvotes_container" class="col-12 col-md-6" data-url="{% url 'get_bug_upvotes_json' %}">
    <canvas id="bugUpvoteChart"></canvas>
  </div>
  <div id="feature_upvotes_container" class="col-12 col-md-6" data-url="{% url 'get_feature_upvotes_json' %}">
    <canvas id="featureUpvoteChart"></canvas>
  </div>
</div>
<div class="row">
  <div id="issue_type_container" class="col-12 " data-url="{% url 'get_issue_type_json' %}">
    <canvas id="issueTypeChart"></canvas>
  </div>
</div>
<div class="row">
  <div id="bug_status_container" class="col-12 col-md-6" data-url="{% url 'get_bug_status_json' %}">
    <canvas id="bugPieChart"></canvas>
  </div>
  <div id="feature_status_container" class="col-12 col-md-6" data-url="{% url 'get_feature_status_json' %}">
    <canvas id="featurePieChart"></canvas>
  </div>
</div>
{% endblock %}
{% block js %}
{% include 'base/js.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  Chart.defaults.global.hover.mode = 'nearest';
  // Bug Status pie chart
  $.ajax({
    method: "GET",
    url: $("#bug_status_container").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      lables = data.lables
      status_count = data.count
      var ctx = document.getElementById('bugPieChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: lables,
          datasets: [{
            data: status_count,
            backgroundColor: [
              'rgb(239, 9, 9, 0.5)',
              'rgb(150, 132, 16, 0.5)',
              'rgb(11, 91, 14, 0.5)'
            ],
            hoverBackgroundColor: [
              'rgb(239, 9, 9)',
              'rgb(150, 132, 16)',
              'rgb(11, 91, 14)'
            ],
            borderWidth: 2
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Bug Status',
            position: 'bottom',
            fontSize: 18
          }
        }
      });
    },
    error: function (error_data) {
      console.log("error")
      console.log(error_data)
    }

  });
  // Feature Status pie chart
  $.ajax({
    method: "GET",
    url: $("#feature_status_container").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      lables = data.lables
      status_count = data.count
      var ctx = document.getElementById('featurePieChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: lables,
          datasets: [{
            data: status_count,
            backgroundColor: [
              'rgb(239, 9, 9, 0.5)',
              'rgb(150, 132, 16, 0.5)',
              'rgb(11, 91, 14, 0.5)'
            ],
            hoverBackgroundColor: [
              'rgb(239, 9, 9)',
              'rgb(150, 132, 16)',
              'rgb(11, 91, 14)'
            ],
            borderWidth: 2
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Feature Status',
            position: 'bottom',
            fontSize: 18
          }
        }
      });
    },
    error: function (error_data) {
      console.log("error")
      console.log(error_data)
    }

  });
  // Bug upvote pie chart
  $.ajax({
    method: "GET",
    url: $("#bug_upvotes_container").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      dataset = data.dataset
      var ctx = document.getElementById('bugUpvoteChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: data.lables,
          datasets: [{
            data: dataset,
            backgroundColor: poolColors(dataset.length),
            borderWidth: 2
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Bug Upvotes',
            position: 'bottom',
            fontSize: 18
          }
        }
      });
    },
    error: function (error_data) {
      console.log("error")
      console.log(error_data)
    }

  });
  // Feature upvote pie chart
  $.ajax({
    method: "GET",
    url: $("#feature_upvotes_container").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      dataset = data.dataset
      var ctx = document.getElementById('featureUpvoteChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: data.lables,
          datasets: [{
            data: dataset,
            backgroundColor: poolColors(dataset.length),
            borderWidth: 2
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Feature Upvotes',
            position: 'bottom',
            fontSize: 18
          }
        }
      });
    },
    error: function (error_data) {
      console.log("error")
      console.log(error_data)
    }

  });
  // All Issue bar chart
  $.ajax({
    method: "GET",
    url: $("#issue_type_container").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      lables = data.lables
      status_count = data.count
      var ctx = document.getElementById('issueTypeChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: lables,
          datasets: [{
            backgroundColor: [
              "rgb(27, 33, 155, 0.5)",
              "rgb(32, 155, 27, 0.5)"
            ],
            hoverBackgroundColor: [
              "rgb(27, 33, 155, 0.8)",
              "rgb(32, 155, 27, 0.8)"
            ],
            data: status_count,
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                stepSize: 1
              },
            }]
          },
          legend: { display: false },
          title: {
            display: true,
            text: 'Number Of Issues',
            position: 'bottom',
            fontSize: 18
          }
        }
      });
    },
    error: function (error_data) {
      console.log("error")
      console.log(error_data)
    }

  });
  var dynamicColors = function () {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgb(" + r + "," + g + "," + b + ")";
  };
  function poolColors(a) {
    var pool = [];
    for(i = 0; i < a; i++) {
        pool.push(dynamicColors());
    }
    return pool;
}

</script>

{% endblock %}